.cjs-collapsible {
  cursor: pointer;
  background-color: inherit;
  color: inherit;
}
.cjs-collapsible:not(.cjs-collapsedSect):hover::before {
  cursor: pointer;
  content:'[-] ';
}
.cjs-collapsible.cjs-collapsedSect:hover::before{
  cursor: pointer;
  content:'[+]';
}

.cjs-collapsedSect, .cjs-collapsible:hover {
  /*
  background-color: #666;
  color: #fefefe;
  */
}

section.cjs-no_collapse *:first-child:before {
  content: '[x] ';
}
/*When a No Collapsible section is hovered...*/
section.cjs-no_collapse:hover *:first-child:before {
  content: '[x Not Collapsible x] ';
}