.cjs-collapsible {
  cursor: pointer;
}
.cjs-static-layout .cjs-collapsible:not(.cjs-collapsedSect)::before,
.cjs-collapsible:not(.cjs-collapsedSect):hover::before {
  cursor: pointer;
  content:'[-] ';
  color: #782e22;
}
.cjs-collapsible.cjs-collapsedSect:hover::before{
  cursor: pointer;
  content:'[+]';
  color: #782e22;
}

.cjs-collapsedSect::before {
  content: '[+]';
  color: #782e22;
}


section.cjs-no_collapse::after{
  content: '[x]';
  color: #782e22;
}
section.cjs-no_collapse *:first-child:before {
  content: '[x] ';
  color: #782e22;
}
/*when a No Collapsible section is hovered*/
.cjs-dynamic-layout section.cjs-no_collapse:hover *:first-child:before {
  content: '[x Not Collapsible x] ';
}

section.secret.cjs-top_level_secret {
  background: rgba(121, 0, 0, 0.11);
}