<!--
/**
 * Based on https://github.com/ultrakorne/better-rolltables/blob/master/templates/welcome-screen.html
 */
-->
<style>
    .welcome-screen a[href] {
        color: #4a52ca;
    }
    .welcome-screen .window-content > * {
        flex: 0;
    }
</style>

<div>
    <h1>Welcome to Custom Journal Sections</h1>

    <p>Check the <a href="https://github.com/ofdiceandmagic/FVTT-collapsible-journal-sections#readme">README</a> for more info on the module features.</p>
    
    <h2>Bugs or Suggestions?</h2>
    <p>Add an <a href="https://github.com/ofdiceandmagic/FVTT-collapsible-journal-sections/issues">issue on Github</a> or find me on Discord! <b>atill91#5248</b> </p>
    
    <h2 style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start; margin-top: 1em;">
        <input type="checkbox" class='show-again' id="welcome-screen-show-again" {{checked isChecked}}/> 
        <label for="welcome-screen-show-again">Don't show again until next update.</label>
    </h2>
    <p>If you want to say thank you and support my work, feel free to throw some money at me!</p>
    <p style="background: rgb(198 243 212); text-align: center; font-size: 1.3em;">
        <strong><a href="https://paypal.me/ofdiceandmagic">My Tip Jar: Paypal</a></strong>
    </p>    
</div>

<div style="overflow: scroll; max-height: 450px;">
    <h1 style="margin-top: 1em;">Patchnotes</h1>

    <h2>v 1.3.1</h2>
        <ul>
            <li>[fix] if its a header and the next sibling is also a header, don't give it any collapsed classes</li>
            <li>[fix] non-imediate subheaders that came before immediate subheaders weren't showing.</li>
            <ul>
                <li>'immediate subheader': h2 is an immediate subheader of h1</li>
            </ul>
        </ul>

    <h2>v 1.3</h2>
        <ul>
            <li>New Welcome Screen with patch notes!</li>
            <li>New show/hide behavior:</li>
            <ul>
                <li>Left Click to expand immediate subheaders.</li>
                <li>Right Click to expand all subheaders.</li>
            </ul>
        </ul>

    <h2>v 1.2.10</h2>
        <ul>
            <li>Updated compatibility to 0.8.6</li>
        </ul>

    <h2>v 1.2.9</h2>
        <ul>
            <li>Edit module.json so that libwrapper dependency is recognized by foundry.</li>
        </ul>

    <h2>v 1.2.8</h2>
        <p>This update adds 2 features:</p>
        <ol>
            <li>Map Note Journal Links</li>
            <ul>
                <li>Enter the text of a heading into the Text Label field of a map note to link directly to that section.</li>
            </ul>
            <li>Top-Level Secrets</li>
            <ul>
                <li>Adds a 'Top-Level Secret' style to the editor.</li>
                <li>Top-Level secrets won't get collapsed into the nearest heading, unlike normal secrets.</li>
            </ul>
        </ol>
</div>
